body {
	background-color: black;
	font-family: 'Source Code Pro', monospace;
}

.button {
  background-color: black;
  border: .5px solid white;
  color: white;
  text-align: center;
  font-size: .9rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 6%;
}

.button:hover{
  background-color: #e2601e;
  border: .5px solid #e2601e;
  color: #ebe3d8;
  transition: .3s;
}

.navbar-collapse{
	margin-left: 5%;
}

.navbar-collapse:hover{
	color: #e2601e;
}

.navbar{
	margin-bottom: 7%;
}

.rows{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}
.top{
	padding-top: 5px;
	color: white;
	font-weight: bold;
	font-size: .75rem;
	margin-bottom: .5rem;
}
.mid{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 98%;
	margin-bottom: .5rem;
}
.bot{
	font-size: .7rem;
	color: white !important;
	margin-bottom: .3rem;
}
.roman{
	margin: auto 0;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 98%;
}
.topborder{
	border-top: .1px solid white;
}

.botborder{
	border-top: .1px solid white;
	border-bottom: .1px solid white;
}


#one{
	margin-top: 17rem;
}

#projects{
	border-top: .1px solid white;
	border-bottom: .1px solid white;
}

.box {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 89%;
	max-height: 500px;
	justify-content: space-between;
	border-top: 1px solid white;
	height: auto;
}

.last-box{
	border-bottom: 1px solid white;
}


.project-body {
	width: 510px;
}

img{
	max-height: 495px;
	object-fit: contain;
}


a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: #e2601e;
	transition: .3s;
}

.project-no {
	padding-top: 20px;
	color: white;
	font-weight: bold;
	font-size: .8rem;
}

.project-title {
	margin-top: 3rem;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 98%;
	color: white;
}

.case-study{
	font-size: .9rem;
}

.project-info:hover > h1{
	color: #e2601e;
	transition: .3s;
}

.project-categories {
	padding-top: 2%;
	font-size: .7rem;
	color: white!important;
}

.project-categories:hover {
	color: white !important;
}

.project-body {
	max-width: 430px;
	font-weight: 300;
	font-size: .9rem;
	padding-top: 20px;
	color: white !important;
}

.about-me{
	margin: 20vh 5% 30vh 5%;
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.about-text{
	width: 45%;
	margin-right: 5%;
}
.about-title{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	color:white
}
.about-me-info{
	font-weight: 300;
	font-size: .75rem;
	padding-top: 10px;
	color: white !important;
	max-width: 400px;
}
.portrait{
	width: 200px;
	height: auto;
	max-height: 200px;
	position: center;
	margin: auto;
}

.linkedin{
	color:#007bff; 
}

footer{
	border-top: .1px solid white;
	background-color: black;
	color: white;
	font-weight: 300;
	padding-bottom: 3%;
}
@media screen and (max-width: 1400px) {
	table{
	margin: 100px auto 25vh auto;
	}
	th{
		font-size: 1.2vw;
	}
	td{
		font-size: 1.5vw;
	}
	.box{
		max-height: 400px;
		height: auto;
		width: 90%;	
	}
	img{
		max-height: 345px;
		width: auto;
		height: auto;
		object-fit: cover;
	}
	.project-info{
		padding-bottom: 40px;
	}
	.project-title{
		margin-top: 1rem;
		font-size: 1.5rem;
	}
	.project-body{
		font-size: .8rem;
		width: auto;
		max-width: 400px;
		padding-right: 20px;
	}
	.about-title{
		font-size: 1.2rem;
		}
	.about-me-info{
		font-size: .75rem;
		padding-top: 7px;
		max-width: 430px;
	}
@media screen and (max-width: 990px) {
	table{
	margin: 85px auto 20vh auto;
	}
	th{
		font-size: 1.2vw;
	}
	td{
		font-size: 1.4vw;
	}
	.box{
		max-height: 350px;
		height: auto;
		width: 90%;
	}
	img{
		max-width: 450px;
		width: auto;
		height: auto;
	}
	.project-title{
		margin-top: 0rem;
		font-size: 1.5rem;
	}
	.project-body{
		font-size: .7rem;
		max-width: 350px;
		width: auto;
		padding-top: 10px;
	}
	.project-categories{
		padding-top: 0%;
	}
	.button {
  	margin-top: 3%;
	}
}

@media screen and (max-width: 870px) {
	th{
		font-size: 3vw;
	}
	td{
		font-size: 4vw;
	}
	.box{
		max-height: 500px;
		width:90%;
		height: auto;
		align-items: center;
	}
	img{
		height: auto;
		width: 100%;
		max-width: 740px;
	}
	.hide-small{
		display: none;
	}
	.about-me{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		width: 90%;
	}
	.about-text{
	width: 100%;
	margin-top: 20px;
	}
	.about-title{
		text-align: center;
	}
	.box {
	border-top: none;
	height: auto;
}

.button {
  margin-top: 3%;
	}

.last-box{
	border-bottom: none;
	}

@media screen and (max-width: 479px){
	th{
		font-size: 3vw;
	}
	td{
		font-size: 4vw;
	}
	.box{
		max-height: 400px;
		width:100%;
	}
	img{
		width: 100%;
		max-width: 490px;
	}
	.hide-small{
		display: none;
	}
}
